{{!-- {{> petTemplate}} --}}
{{!-- <h3>Name: Gosho</h3>
<p>Category: Cat</p>
<p class="img"><img src="https://pics.clipartpng.com/Cat_PNG_Clip_Art-2580.png"></p>
<p class="description">This is not my cat Gosho</p>
<div class="pet-info">
    <a href="#"><button class="button">Details</button></a>
    <a href="#"><button class="button">Delete</button></a>
    <i class="fas fa-heart"></i> <span>5</span>
</div> --}}
<li class="otherPet">
    <h3>Name: {{this.name}}</h3>
    <p>Category: {{this.category}}</p>
    <p class="img"><img src="{{this.imageURL}}"></p>
    <p class="description">{{this.description}}</p>
    <div class="pet-info">
        <a href="#/pet/{{this._id}}"><button class="button"><i class="fas fa-heart"></i> Pet</button></a>
        <a href="#/details/{{this._id}}"><button class="button">Details</button></a>
        <i class="fas fa-heart"></i> <span>{{this.likes}}</span>
    </div>
</li>